.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 54px);
  padding: 30px;
}

.title {
  margin-bottom: 12px;
}

.fieldsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 250px;
}

.field {
  position: relative;
}

.input {
  display: block;
  min-width: 100%;
  width: 100%;
  border: 1px solid #d0d4e3;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border-color: #0f0f10;
}

.btn {
  border: 1px solid transparent;
  background-color: #ed4040;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  border-radius: 4px;
}

.btn:disabled {
  background-color: #d0d4e3;
  cursor: not-allowed;
}

.help {
  font-size: 14px;
  color: #3a3a3a;
  margin-top: 12px;
}
